.i-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13vh;
  margin-bottom:15px;
}
.h-con {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.h2 {
  font-size: 20px;
}
.p2 {
  font-size: 12px;
  color: #9aa5b1;
}
.p3 {
  font-size: 20px;
  color: #9aa5b1;
}
